@using Textaland.Models;
@using Microsoft.AspNet.Identity;

<div class="jumbotron" style="background: none">
    <center>
        <h1>Aðgangsstillingar</h1>
        <hr />
    </center>
</div>

<div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>@ViewBag.StatusMessage</strong>
</div>

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword) {
            @Html.Partial("_ChangePasswordPartial")
        } else {
            @Html.Partial("_SetPasswordPartial")
        }

        <section id="externalLogins">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
