@model IEnumerable<Textaland.Models.SubtitleFile>

<div class="jumbotron" style="background: none">
    <center>
        <h1>LEITARNIÐURSTÖÐUR</h1>
        <hr />
    </center>
</div>

<div class="form-group" style="margin-bottom: 30px">
    <label class="control-label" for="searchInput"></label>
    <center>
        @using (Html.BeginForm("SearchResult", "Search", FormMethod.Post))
        {
            <input type="text" name="leit" id="leit" value="Leitaðu að textaskrá hér" style="text-align: center" onfocus="value=''" />
            <button class="btn btn-info btn-sm" title="Leita" type="submit">Leita</button>
        }
    </center>
</div>

@if (Model.Count() > 0) {
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>
                Nafn
            </th>
            <th>
                Tungumál
            </th>
            <th>
                Kvikmynd/Þáttur
            </th>
            <th>
                Sótt
            </th>
            <th>
                Einkunn
            </th>
            <th>
                Sent inn
            </th>
            <th>
                Fyrir heyrnaskerta
            </th>
        </tr>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a href="/SubtitleFile/AboutSubtitleFile?id=@item.Id">@item._name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._languageFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._numOfDownloads)
                </td>
                <td>
                    @{
                        if (item._rating == 0) {
                            @Html.Raw("Engin einkunn")
                        }
                        else {
                            @item._rating.ToString("#.##")
                        }
                    }
                </td>
                <td>
                    @{
                        string date = item._dateAdded.ToShortDateString();
                        @Html.Raw(date)
                    }
                </td>
                <td>
                    @{
                        if (item._hearingImpaired == true) {
                            @Html.Raw("Já")
                        }
                        else {
                            @Html.Raw("Nei")
                        }
                    }
                </td>
            </tr>
        }
    </table>

} 
else {
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">Engar leitarniðurstöður</h3>
        </div>
        <div class="panel-body">
            Því miður skilaði leitin engum niðurstöðum.
        </div>
    </div>
}
