@model IEnumerable<Textaland.Models.TranslationRequest>


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TEXTALAND</h1>
</div>

<!--This is for normal users - not logged in.-->

@if (!User.Identity.IsAuthenticated) {
<div class="form-group" style="margin-bottom: 30px">
    <label class="control-label" for="searchInput"></label>
    <center>
        @using (Html.BeginForm("SearchResult", "Search", FormMethod.Post)) {
             <input type="text" name="leit" id="leit" value="Leitaðu að textaskrá hér" style="text-align: center" onfocus="value=''" />
             <button class="btn btn-primary btn-sm" title="Leita" type="submit">Leita</button>
        }
    </center>
</div>

<div style="text-align: center">
    <ul class="nav nav-pills" style= "display: inline-table;">
        <li class="active" style="display: inline"><a href="#newest" data-toggle="tab">Nýjast</a></li>
        <li class="" style="display: inline"><a href="#popular" data-toggle="tab">Vinsælast</a></li>
        <li class="" style="display: inline"><a href="#rating" data-toggle="tab">Einkunn</a></li>
    </ul>
</div>
    
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="newest">
        @{
        int counter1 = 1;
        foreach (var item in ViewBag.NewestList)
        {
            <div class="col-md-6 well">
                 @counter1. 
                 &nbsp;
                 @item._name
            </div>
            <div class="col-md-6 well">
                @{
                    string date = item._dateAdded.ToShortDateString();
                    @Html.Raw(date)
                }
            </div>
            counter1++;
        }
        }
    </div>
    <div class="tab-pane fade" id="popular">
        @{
        int counter2 = 1;
        foreach (var item in ViewBag.PopularList)
        {
            <div class="col-md-6 well">
                @counter2.
                &nbsp;
                @item._name
            </div>
            <div class="md-md-6 well">
                &nbsp;
                @item._numOfDownloads
            </div>
            counter2++;
        }
        }
    </div>
    <div class="tab-pane fade" id="rating">
        @{
        int counter3 = 1;
        foreach (var item in ViewBag.RatingList)
        {
            <div class="col-md-6 well">
                @counter3.
                &nbsp;
                @item._name
            </div>
            <div class="col-md-6 well">
                @{
                if (item._rating == 0)
                {
                    @Html.Raw("Engin einkunn")
                }
                else
                {
                    @item._rating.ToString("#.##")
                }
                }
            </div>
            counter3++;
        }
        }
    </div>
</div>
    
} else {
    <div class="form-group" style="margin-bottom: 30px">
    <label class="control-label" for="searchInput"></label>
        <center>
            @using (Html.BeginForm("SearchResult", "Search", FormMethod.Post))
            {
                <input type="text" name="leit" id="leit" value="Leitaðu að textaskrá hér" style="text-align: center" onfocus="value=''" />
                <button class="btn btn-primary btn-sm" title="Leita" type="submit">Leita</button>
            }
        </center>
    </div>

<div class="col-xs-6">
    <table class="table table-striped table-hover">
        <tr class="info">
            <th>
                Þýðingar í gangi
            </th>
            <th>
                Fjöldi þátttakanda
            </th>
        </tr>
        @{
        foreach (var item in ViewBag.TranslationList) {
            <tr>
                <td>
                    @item._name
                </td>
                <td>
                    @item._numOfTranslationParticipants
                </td>
                <td>
                    <button class="btn btn-primary">UNFINSHED</button>
                </td>
            </tr>
        }
        }
        <tr>
            <td>
                <button onclick="location.href = '/TranslationRequest/TranslationRequests'" class="btn btn-primary">
                    Sjá allar þýðingar
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="col-xs-6">
    <table class="table table-striped table-hover col-xs-6">
        <tr class="info">
            <th>
                Beiðnir
            </th>
            <th>
                Fjöldi atkvæða
            </th>
            <th></th>
        </tr>
        @{
        foreach (Textaland.Models.TranslationRequest item in ViewBag.RequestList) {
            <tr>
                <td>
                    @item._name
                </td>
                <td>
                    @item._numUpvotes
                </td>
                <td>                    
                    @using (Html.BeginForm("AnswerRequest", "TranslationRequest", item, FormMethod.Post))
                    {
                        <input onclick="return confirm('Með því að svara þessari beiðni mun hún hverfa af listanum. Viltu halda áfram?')" type="submit" value="Svara beiðni" class="btn btn-primary btn-sm" />
                    }
                </td>
            </tr>
        }
        }
        <tr>
            <td>
                <button onclick="location.href = '/TranslationRequest/TranslationRequests'" class="btn btn-primary">
                    Sjá allar beiðnir
                </button>
            </td>
        </tr>
    </table>
</div>
}
