<div class="jumbotron" style="background: none">
    <center>
        <h1>TEXTALAND</h1>
        <h3>Fremsti vettvangur Íslendinga fyrir skjátexta</h3>
        <hr />
    </center>
</div>

<!--This is for normal users - not logged in.-->

@if (!User.Identity.IsAuthenticated) {
<div class="form-group" style="margin-bottom: 30px">
    <label class="control-label" for="searchInput"></label>
    <center>
        @using (Html.BeginForm("SearchResult", "Search", FormMethod.Post)) {
             <input type="text" name="leit" id="leit" value="Leitaðu að textaskrá hér" style="text-align: center" onfocus="value=''" />
             <button class="btn btn-info btn-sm" title="Leita" type="submit">Leita</button>
        }
    </center>
</div>

<div style="text-align: center">
    <ul class="nav nav-pills" style= "display: inline-table;">
        <li class="active" style="display: inline"><a href="#newest" data-toggle="tab">Nýjast</a></li>
        <li class="" style="display: inline"><a href="#popular" data-toggle="tab">Vinsælast</a></li>
        <li class="" style="display: inline"><a href="#rating" data-toggle="tab">Einkunn</a></li>
    </ul>
</div>

<div class="col-md-3"></div>
<div id="myTabContent" class="tab-content col-md-6">
    <div class="tab-pane fade active in" id="newest">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th class="col-md-1">
                    Númer
                </th>
                <th class="col-md-2">
                    Nafn
                </th>
                <th class="col-md-2">
                    Tungumál
                </th>
                <th class="col-md-1">
                    Dagsetning
                </th>
            </tr>
            @{
            int counter1 = 1;
            foreach (var item in ViewBag.NewestList) {
                <tr>
                    <td class="col-md-1">
                    @counter1.
                    </td>
                    <td class="col-md-2">
                        <a href="/SubtitleFile/AboutSubtitleFile?id=@item.Id">@item._name</a>
                    </td>
                    <td class="col-md-2">
                        @item._languageFrom
                    </td>
                    <td class="col-md-1">
                        @{
                            string date = item._dateAdded.ToShortDateString();
                            @Html.Raw(date)
                        }   
                    </td>
                </tr>
                counter1++;
            }
            }
        </table>
        <center>
            <button onclick="location.href = '/SubtitleFile/AllSubtitleFiles?num=0'" class="btn btn-info" style="margin-bottom: 20px">
                Sjá allar textaskrár
            </button>
        </center>
    </div>

    <div class="tab-pane fade" id="popular">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th class="col-md-1">
                    Númer
                </th>
                <th class="col-md-2">
                    Nafn
                </th>
                <th class="col-md-2">
                    Tungumál
                </th>
                <th class="col-md-1">
                    Fjöldi
                </th>
            </tr>
            @{
            int counter2 = 1;
            foreach (var item in ViewBag.PopularList) {
                <tr>
                    <td class="col-md-1">
                        @counter2.
                    </td>
                    <td class="col-md-2">
                        <a href="/SubtitleFile/AboutSubtitleFile?id=@item.Id">@item._name</a>
                    </td>
                    <td class="col-md-2">
                        @item._languageFrom
                    </td>
                    <td class="col-md-1">
                        @item._numOfDownloads
                    </td>
                </tr>
            counter2++;
            }
            }
        </table>
        <center>
            <button onclick="location.href = '/SubtitleFile/AllSubtitleFiles?num=0'" class="btn btn-info" style="margin-bottom: 20px">
                Sjá allar textaskrár
            </button>
        </center>
    </div>

    <div class="tab-pane fade" id="rating">
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th class="col-md-1">
                    Númer
                </th>
                <th class="col-md-2">
                    Nafn
                </th>
                <th class="col-md-2">
                    Tungumál
                </th>
                <th class="col-md-1">
                    Einkunn
                </th>
            </tr>
            @{
            int counter3 = 1;
            foreach (var item in ViewBag.RatingList) {
                <tr>
                    <td class="col-md-1">
                        @counter3.
                    </td>
                    <td class="col-md-2">
                        <a href="/SubtitleFile/AboutSubtitleFile?id=@item.Id">@item._name</a>
                    </td>
                    <td class="col-md-2">
                        @item._languageFrom
                    </td>
                    <td class="col-md-1">
                        @{
                            if (item._rating == 0) {
                            @Html.Raw("Engin einkunn")
                        } else {
                            @item._rating.ToString("#.##")
                        }
                        }
                    </td>
                </tr>
            counter3++;
            }
            }
        </table>
        <center>
            <button onclick="location.href = '/SubtitleFile/AllSubtitleFiles?num=0'" class="btn btn-info" style="margin-bottom: 20px">
                Sjá allar textaskrár
            </button>
        </center>
    </div>
</div>
}
else
{
    <div class="form-group" style="margin-bottom: 30px">
    <label class="control-label" for="searchInput"></label>
        <center>
            @using (Html.BeginForm("SearchResult", "Search", FormMethod.Post))
            {
                <input type="text" name="leit" id="leit" value="Leitaðu að textaskrá hér" style="text-align: center" onfocus="value=''" />
                <button class="btn btn-info btn-sm" title="Leita" type="submit">Leita</button>
            }
        </center>
    </div>

<div class="col-md-6">
    <table class="table table-striped table-hover table-bordered">
        <tr class="info">
            <th class="col-md-2">
                Þýðingar í gangi
            </th>
            <th class="col-md-1">
                Tungumál
            </th>
            <th class="col-md-2">
                Fjöldi þátttakanda
            </th>
            <th class="col-md-1">
            </th>
        </tr>
        @{
        foreach (Textaland.Models.SubtitleFile item in ViewBag.TranslationList){
            <tr>
                <td class="col-md-2">
                    @item._name
                </td>
                <td class="col-md-1">
                    @item._languageTo
                </td>
                <td class="col-md-2">
                    @item._numOfTranslationParticipants
                </td>
                <td class="col-md-1" style="text-align: center">
                    <input onclick="return confirm('Ertu viss um að vilja taka þátt í þýðingu á þessari skrá?')" 
                           type="submit" value="Taka þátt í þýðingu" class="btn btn-warning btn-sm" />
                </td>
            </tr>
        }
        }
        <tr>
            <td>
                <button onclick="location.href = '/TranslationRequest/TranslationRequests'" class="btn btn-info">
                    Sjá allar þýðingar
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="col-md-6">
    <table class="table table-striped table-hover table-bordered">
        <tr class="info">
            <th class="col-md-2">
                Beiðni
            </th>
            <th class="col-md-1">
                Tungumál
            </th>
            <th class="col-md-2">
                Fjöldi atkvæða
            </th>
            <th class="col-md-1">
            </th>
        </tr>
        @{
        foreach (Textaland.Models.TranslationRequest item in ViewBag.RequestList) {
            <tr>
                <td>
                    @item._name
                </td>
                <td class="col-md-1">
                    @item._language
                </td>
                <td class="col-md-2">
                    @item._numUpvotes
                </td>
                <td class="col-md-1" style="text-align: center">
                    @using (Html.BeginForm("AnswerRequest", "TranslationRequest", item, FormMethod.Post))
                    {
                        <input onclick="return confirm('Með því að svara þessari beiðni mun hún hverfa af listanum. Viltu halda áfram?')" 
                               type="submit" value="Svara beiðni" class="btn btn-warning btn-sm" />
                    }
                </td>
            </tr>
        }
        }
        <tr>
            <td>
                <button onclick="location.href = '/TranslationRequest/TranslationRequests?num=0'" class="btn btn-info">
                    Sjá allar beiðnir
                </button>
            </td>
        </tr>
    </table>
</div>
}
