@model Textaland.Models.TranslationRequest

@{
    ViewBag.Title = "NewTranslationRequest";
}

<h2>Hentu inn nýrri beiðni.</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TranslationRequest</h4>
        <hr />
        @Html.ValidationSummary(true)

       <!-- <div class="form-group">
            @Html.LabelFor(model => model._userId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._userId)
                @Html.ValidationMessageFor(model => model._userId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._numUpvotes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._numUpvotes)
                @Html.ValidationMessageFor(model => model._numUpvotes)
            </div>
        </div>-->

        <div class="form-group">
            @Html.LabelFor(model => model._name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._name)
                @Html.ValidationMessageFor(model => model._name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._language, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._language)
                @Html.ValidationMessageFor(model => model._language)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
