@model Textaland.Models.TranslationRequest

@{
    ViewBag.Title = "NewTranslationRequest";
}

<h2>Ný beiðni</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model._name, "Nafn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._name)
                @Html.ValidationMessageFor(model => model._name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._language, "Tungumál", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model._language, new SelectList(ViewBag.ListOfLanguages, "Value", "Text", "Selected"))
                @Html.ValidationMessageFor(model => model._language)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Senda" class="btn btn-info" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
