@model IEnumerable<Textaland.Models.TranslationRequest>

@{
    ViewBag.Title = "TranslationRequests";
}

<h2>TranslationRequests</h2>

<p>
    @Html.ActionLink("Create New", "NewTranslationRequest")
</p>
<table class="table">
    <tr>
        <th>
            Tungumál
        </th>
        <th>
            Beiðnir
        </th>
        <th>
            Fjöldi beiðna
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._numUpvotes)
        </td>
        <td>
            @Html.ActionLink("Kjósa", "Edit", new { id=item.Id }) |
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "NewTranslationRequest")
</p>
