<div class="jumbotron" style="background: none">
    <center>
        <h1>ÓSVARAÐAR BEIÐNIR</h1>
        <hr />
    </center>
</div>

<div class="form-group" style="margin-bottom: 30px">
    <label class="control-label" for="searchInput"></label>
    <center>
        @using (Html.BeginForm("SearchResultForRequests", "Search", FormMethod.Post)) 
        {
            <input type="text" name="leit2" id="leit2" value="Leitaðu að beiðni hér" 
                   style="text-align: center" onfocus="value=''" />
            <button class="btn btn-info btn-sm" title="Leita" type="submit">Leita</button>
        }
    </center>
</div>
<center>
    
    @if (ViewBag.voteSuccess != null) {
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@ViewBag.voteSuccess</strong>
        </div>
    } else if (ViewBag.votedAgain != null) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@ViewBag.votedAgain</strong>
        </div>
    } else if (ViewBag.requiredLogIn != null) {
        <div class="alert alert-dismissable alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@ViewBag.requiredLogIn. Þú getur skráð þig inn <a href="/Account/Login">hérna</a></strong>
            
        </div>
    } 

</center>
<p>
    <a href="/Translationrequest/NewTranslationRequest" class="btn btn-info">Senda inn nýja beiðni</a>
</p>
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>
                    Tungumál
                </th>
                <th>
                    Beiðni
                </th>
                <th>
                    Fjöldi atkvæða
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (Textaland.Models.TranslationRequest item in ViewBag.allRequests) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item._language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item._numUpvotes)
                    </td>
                    <td>
                        @using (Html.BeginForm("AddVote", "TranslationRequest", item, FormMethod.Post)) 
                        {
                            <center>
                                    <input type="submit" value="Like" class="btn btn-warning btn-sm" />
                            </center>
                        }
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated) {
                            <center>
                                <a class="btn btn-warning btn-sm" href="/TranslationRequest/AnswerRequest?id=@item.Id"
                                    onclick="return confirm('Með því að svara þessari beiðni mun hún hverfa af listanum. Viltu halda áfram?')">Svara beiðni</a>
                            </center>
                        } else {
                            <center>
                                <a class="btn btn-warning btn-sm disabled" href="/TranslationRequest/AnswerRequest?id=@item.Id">Svara beiðni</a>
                            </center>
                        }
                    </td>

                </tr>

            }
        </table>

        <p>
            <a href="/Translationrequest/NewTranslationRequest" class="btn btn-info">Senda inn nýja beiðni</a>
        </p>

        
            @{
            int count = Enumerable.Count(ViewBag.countRequest);
            int numPages;

            if (count % 10 == 0) {
                numPages = count / 10;
            } else {
                numPages = count / 10 + 1;
            }
            int pageNumber = Convert.ToInt32(TempData["requestPageNumber"].ToString());
        
            }

        <ul class="pagination pagination-sm">
            @if (pageNumber != 0) { 
                <li>@Html.ActionLink("<<", "TranslationRequests", "TranslationRequest", new { num = pageNumber - 1 }, null)</li>
            }
            @for (int i = 1; i <= numPages; i++) {
                if (i - 1 == pageNumber) { 
                    <li class="active" >@Html.ActionLink(@i.ToString("#"), "TranslationRequests", "TranslationRequest", new { num = i - 1 }, null)</li>
                } else {
                    <li>@Html.ActionLink(@i.ToString("#"), "TranslationRequests", "TranslationRequest", new { num = i - 1 }, null)</li>
                }
            }
            @if (pageNumber != numPages - 1 && numPages != 0) {
                 <li>@Html.ActionLink(">>", "TranslationRequests", "TranslationRequest", new { num = pageNumber + 1 }, null)</li>
            }
        </ul>
