<h2>Ósvaraðar beiðnir</h2>

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            Tungumál
        </th>
        <th>
            Beiðnir
        </th>
        <th>
            Fjöldi beiðna
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (Textaland.Models.TranslationRequest item in ViewBag.allRequests) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._numUpvotes)
        </td>
        <td>
           @using (Html.BeginForm("AddVote", "TranslationRequest", item, FormMethod.Post))
           {
              <input type="submit" value="Kjósa" class="btn btn-primary btn-sm" />
           }
        </td>
        <td>
            @using (Html.BeginForm("AnswerRequest", "TranslationRequest", item, FormMethod.Post))
            {
                <input onclick="return confirm('Með því að svara þessari beiðni mun hún hverfa af listanum. Viltu halda áfram?')" type="submit" value="Svara beiðni" class="btn btn-primary btn-sm" />
            }
        </td>
    </tr>
 
}
</table>

<p>
    <a href="/Translationrequest/NewTranslationRequest" class="btn btn-info">Senda inn nýja beiðni</a>
</p>

@{int count = @Enumerable.Count(ViewBag.countRequest);

int numPages = count / 10 + 1;

}

<ul class="pagination pagination-sm">
    <li class="disabled"><a href="#">«</a></li>
    @for (int i = 1; i <= numPages; i++)
    {
        <li>@Html.ActionLink(@i.ToString("#"), "TranslationRequests", "TranslationRequest", new { num = i - 1 }, null)</li>
    }
</ul>
