@model IEnumerable<Textaland.Models.TranslationRequest>

@{
    ViewBag.Title = "TranslationRequests";
}

<h2>Ósvaraðar beiðnir</h2>

<p>
    @Html.ActionLink("Senda inn nýja beiðni", "NewTranslationRequest")
</p>
<table class="table">
    <tr>
        <th>
            Tungumál
        </th>
        <th>
            Beiðnir
        </th>
        <th>
            Fjöldi beiðna
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._numUpvotes)
        </td>
        <td>
            <input type="button" title="Kjósa" class="btn btn-primary btn-sm"   onclick="location.href='@Url.Action("AddVote", "TranslationRequest", new { id = item.ID })'" />
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Senda inn nýja beiðni", "NewTranslationRequest")
</p>
