@using Microsoft.AspNet.Identity;

@model Textaland.Models.SubtitleFile

<div class="jumbotron" style="background: none">
    <center>
        <h1>UM TEXTASKRÁ</h1>
        <hr />
    </center>
</div>

<div class="col-md-3"></div>
<div class="col-md-6" style="margin-bottom: 30px">
    <table class = "table table-striped table-hover table-bordered">
        <tr>
            <td class="col-md-1">
                Nafn:
            </td>
            <td class="col-md-5">
                @Html.DisplayFor(model => model._name)
            </td>
        </tr>
        <tr>
            <td class="col-md-1">
                Lýsing: 
            </td>
            <td class="col-md-5">
                @Html.DisplayFor(model => model._description)
            </td>
        </tr>
        <tr>
            <td>
                Tungumál:
            </td>
            <td>
                @Html.DisplayFor(model => model._languageTo)
            </td>
        </tr>
        <tr>
            <td>
                Einkunn:
            </td>
            @{
                string myString = Model._rating.ToString("#.#");
                if (Model._rating < 6) {
                    <td class="text-danger">
                       <strong> @Html.Raw(myString)</strong>
                    </td>
                } else {
                    <td class="text-success">
                        <strong> @Html.Raw(myString)</strong>
                    </td>
                }
            }
        </tr>
        <tr>
            <td>
                Kvikmynd/Þáttur:
            </td>
            <td>
                @Html.DisplayFor(model => model._type)
            </td>
        </tr>
        <tr>
            <td>
                Sótt: 
            </td>
            <td>
                @Html.DisplayFor(model => model._numOfDownloads)
            </td>
        </tr>
        <tr>
            <td>
                Sent inn af:
            </td>
            <td>
                @Html.DisplayFor(model => model._userName)
            </td>
        </tr>
        <tr>
            <td>
                Sent inn: 
            </td>
            <td>
                @{
                    string date = Model._dateAdded.ToShortDateString();
                    @Html.Raw(date)
                }
            </td>
        </tr>
        <tr>
            <td>
                Fyrir heyrnaskerta:
            </td>
            @{
            if (@Model._hearingImpaired == true){
                <td>@Html.Raw("Já")</td>
            } else {
                <td>@Html.Raw("Nei")</td>
            }
            }
        </tr>
        <tr>
            
        </tr>
    </table>
    <center>
        <a href="\SubtitleFile\Download?id=@Model.Id" class="btn btn-warning btn-lg">Niðurhala skrá <span class="glyphicon glyphicon-download"></span></a>
    </center>
    <center>
        @{if (User.Identity.IsAuthenticated) {
            using (Html.BeginForm("GiveRating", "SubtitleFile", @Model, FormMethod.Post)) {
                <h4>Gefðu þessari textaskrá einkunn (0 - 10)</h4>
                @Html.TextBox("rating")

                <input class="btn btn-info btn-sm" type="submit" value="Gefa einkunn" />
                <br />
            <strong>
                @Html.ValidationMessage("wrongRating")
                @Html.ValidationMessage("existingRating")
                @Html.ValidationMessage("notNumerical")
            </strong>
            }
            <a href="/SubtitleFile/TranslateFile?id=@Model.Id" class="btn btn-warning">Translate File!</a>
          }
}
    </center>

    <h3>Athugasemdir</h3> @Html.ValidationMessage("deleteComment")

    @{foreach (var item in ViewBag.AllComments) {

        <div class="panel panel-info">
            <div class="panel-heading">
                @if (User.Identity.IsAuthenticated && item._userId == @User.Identity.GetUserId()) {
                    <form method="post" action="@Url.Action("DeleteComment", "SubtitleFile", new {commentID = item.Id})">
                        <button onclick="return confirm('Ertu viss um að þú viljir eyða þessari athugasemd?')" type="submit" class="close" style="font-size:10pt">Eyða athugasemd</button>
                    </form>
                }
                <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span><strong> @item._userName</strong> @item._dateAdded</h3>
            </div>
            <div class="panel-body">
                @item._text
            </div>
        </div>
    }
    }

    @{if (User.Identity.IsAuthenticated) {
        using (Html.BeginForm("AddComment", "SubtitleFile", @Model, FormMethod.Post))
        {
            <center>
                @Html.TextArea("addText", "", new { style = "height: 100px; width: 1000px" })
            </center>
            
            <center>
                <input class="btn btn-info btn-sm" type="submit" value="Senda inn athugasemd" onclick="downPage()" />
                <strong>@Html.ValidationMessage("addText");</strong>
            </center>
            
        }
    }}
</div>