@model Textaland.Models.SubtitleFile

@{
    ViewBag.Title = "AboutSubtitleFile";
}

<h2>@Html.DisplayFor(model => model._name)</h2>

<div>
	<hr />
    <dl class="dl-horizontal">


        <dt>
           Nafn
        </dt>

        <dd>
            @Html.DisplayFor(model => model._name)
        </dd>

        
        <dt>
            Lýsing
        </dt>

        <dd>
            @Html.DisplayFor(model => model._description)
        </dd>
        <dt>
           Einkunn
        </dt>

        <dd>
            @Html.DisplayFor(model => model._rating)
        </dd>

        <dt>
            Sett inn
        </dt>

        <dd>
            @Html.DisplayFor(model => model._dateAdded)
        </dd>

        
    </dl>
</div>



@if (User.Identity.IsAuthenticated) {
    <p>mímímí</p>
}
