@model Textaland.Models.SubtitleFile

@{
    ViewBag.Title = "AboutSubtitleFile";
}


<div style="width:500px" class="btn-group btn-group-justified">
    <div class="btn btn-primary disabled">Nafn</div>
    <div class="btn btn-default disabled"> @Html.DisplayFor(model => model._name) </div>
</div> 
<div style="width:500px" class="btn-group btn-group-justified">
    <div class="btn btn-primary disabled">Lýsing</div>
    <div class="btn btn-default disabled">@Html.DisplayFor(model => model._description) </div>
</div>
<div style="width:500px" class="btn-group btn-group-justified">
    <div class="btn btn-primary disabled">Einkunn</div>
    <div class="btn btn-default disabled">@Html.DisplayFor(model => model._rating) </div>
</div>



    <h3>Athugasemdir</h3>
    @{foreach (var item in ViewBag.AllComments)
    {

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">(Notandanafn) @item._dateAdded</h3>
            </div>
            <div class="panel-body">
                @item._text
            </div>
        </div>
    }
    }

    @{if (User.Identity.IsAuthenticated)
    {

        using (Html.BeginForm("AddComment", "SubtitleFile", @Model, FormMethod.Post))
        {

            @Html.TextBox("addText")

            <input class="btn btn-primary btn-sm" type="submit" value="Senda inn athugasemd" />
        }
    }}
