@using Microsoft.AspNet.Identity;

@model Textaland.Models.SubtitleFile

@{
    ViewBag.Title = "AboutSubtitleFile";
}



<div>
    <div style="width:500px" class="btn-group btn-group-justified">
        <div class="btn btn-primary disabled">Nafn</div>
        <div class="btn btn-default disabled"> @Html.DisplayFor(model => model._name) </div>
    </div> <br />
    <div style="width:500px" class="btn-group btn-group-justified">
        <div class="btn btn-primary disabled">Lýsing</div>
        <div class="btn btn-default disabled">@Html.DisplayFor(model => model._description) </div>
    </div> <br />
    <div style="width:500px" class="btn-group btn-group-justified">
        <div class="btn btn-primary disabled">Einkunn</div>
        <div class="btn btn-default disabled">@Model._rating.ToString("#.##") </div>
    </div>
</div>

<a href="\SubtitleFile\Download?id=@Model.Id" class="btn btn-warning btn-lg"  >Download</a>
@{if (User.Identity.IsAuthenticated) { 
   
    using (Html.BeginForm("GiveRating", "SubtitleFile", @Model, FormMethod.Post))
    {
       <h4>Gefðu þessari textaskrá einkunn (0 - 10)</h4>
        @Html.TextBox("rating")

         <input class="btn btn-primary btn-sm" type="submit" value="Gefa einkunn" />
        @Html.ValidationMessage("rating")
        @Html.ValidationMessage("existingRating")
    }
    }
}




    <h3>Athugasemdir</h3> @Html.ValidationMessage("deleteComment")  
    @{foreach (var item in ViewBag.AllComments)
    {

        <div class="panel panel-info">
            <div class="panel-heading">
                @if (User.Identity.IsAuthenticated) { 
                <form method="post" action="@Url.Action("DeleteComment", "SubtitleFile", new {commentID = item.Id})">
                    <button onclick="return confirm('Ertu viss um að þú viljir eyða þessari athugasemd? ATH: Aðeins er hægt að eyða sinni eigin athugasemd!')" type="submit" class="close">x</button>
                </form> 
                }                 
                <h3 class="panel-title"> @item._dateAdded</h3>     
            </div>
            <div class="panel-body">
                @item._text
            </div>
        </div>
    }
    }

    @{if (User.Identity.IsAuthenticated)
    {

        using (Html.BeginForm("AddComment", "SubtitleFile", @Model, FormMethod.Post))
        {

            @Html.TextBox("addText", "", new { style = "height:70px" })

            <input class="btn btn-primary btn-sm" type="submit" value="Senda inn athugasemd" onclick="downPage()" />
            @Html.ValidationMessage("addText");
        }
    }}

<script>
    function downPage() {
        window.scrollTo(0, document.body.clientHeight)
    }
</script>
