@model IEnumerable<Textaland.Models.SubtitleFile>

@{
    ViewBag.Title = "AllSubtitleFiles";
}

<h2>AllSubtitleFiles</h2>

<p>
    @Html.ActionLink("Hlaða upp skrá", "Upload")
</p>
<table class="table">
    <tr>
        <th>
            Nafn
        </th>
        <th>
            Einkunn
        </th>
        <th>
           Tungumál
        </th>
        <th>
           Sett inn
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @using (Html.BeginForm("AboutSubitleFile", "TranslationRequest", item, FormMethod.Post))
{
            <input type="submit" value="@item._name" />
}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._languageFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._dateAdded)
        </td>
    </tr>
}

</table>
