@model IEnumerable<Textaland.Models.SubtitleFile>

@{
    ViewBag.Title = "AllSubtitleFiles";
}

<h2>Textaskrár</h2>

<p>
    <a href="/SubtitleFile/UploadFile" class="btn btn-default btn-sm">Hlaða upp nýrri skrá</a>
</p>
<table class="table">
    <tr>
        <th>
            Nafn
        </th>
        <th>
            Einkunn
        </th>
        <th>
           Tungumál
        </th>
        <th>
           Sett inn
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/SubtitleFile/AboutSubtitleFile?id=@item.Id">@item._name</a>
        </td>
        <td>
            @item._rating.ToString("#.##")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._languageFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._dateAdded)
        </td>
    </tr>

}

</table>

@{int count = @Model.Count();

  int numPages = count / 10 + 1;
    
}
  
<ul class="pagination pagination-sm">
    <li class="disabled"><a href="#">«</a></li>
    @for (int i = 1; i <= numPages; i++) { 
        <li>@Html.ActionLink(@i.ToString("#"), "AllSubtitleFiles", "SubtitleFile", new { num = i - 1 }, null)</li>
    }
    </ul>

