<div class="jumbotron" style="background: none">
    <center>
        <h1>TEXTASKRÁR</h1>
        <hr />
    </center>
</div>

<div class="form-group" style="margin-bottom: 30px">
    <label class="control-label" for="searchInput"></label>
    <center>
        @using (Html.BeginForm("SearchResult", "Search", FormMethod.Post)) {
            <input type="text" name="leit" id="leit" value="Leitaðu að textaskrá hér" style="text-align: center" onfocus="value=''" />
            <button class="btn btn-info btn-sm" title="Leita" type="submit">Leita</button>
        }
    </center>
</div>

<p>
    <a href="/SubtitleFile/UploadFile" class="btn btn-info">Hlaða upp nýrri skrá</a>
</p>

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            Nafn
        </th>
        <th>
            Tungumál
        </th>
        <th>
            Kvikmynd/Þáttur
        </th>
        <th>
            Sótt
        </th>
        <th>
            Einkunn
        </th>
        <th>
            Sent inn
        </th>
        <th>
            Fyrir heyrnaskerta
        </th>
    </tr>

@foreach (var item in ViewBag.allSubs) {
    <tr>
        <td>
            <a href="/SubtitleFile/AboutSubtitleFile?id=@item.Id">@item._name</a>
        </td>
        <td>
            @item._languageFrom
        </td>
        <td>
            @item._type
        </td>
        <td>
            @item._numOfDownloads
        </td> 
        <td>
            @{
                    if (item._numOfTimesRated == 0) {
                    @Html.Raw("Engin einkunn")
                } else {
                @item._rating.ToString("#.##")
                }   
            }
        </td>
        <td>
            @{
                string date = item._dateAdded.ToShortDateString();
                @Html.Raw(date)
            }
        </td>
        <td>
            @{
                if (@item._hearingImpaired == true){
                    @Html.Raw("Já")
                }
                else {
                    @Html.Raw("Nei")
                }
            }
        </td>
    </tr>
}
</table>

<p>
    <a href="/SubtitleFile/UploadFile" class="btn btn-info">Hlaða upp nýrri skrá</a>
</p>

@{int count = @Enumerable.Count(ViewBag.numOfSubs);

  int numPages;

  if (count % 10 == 0)
      numPages = count / 10;
  else
      numPages = count / 10 + 1;
    
   int pageNumber = Convert.ToInt32(TempData["pageNumber"].ToString());
}
  
<ul class="pagination pagination-sm">
    @if (pageNumber != 0) { 
        <li>@Html.ActionLink("<<", "AllSubtitleFiles", "SubtitleFile", new { num = pageNumber - 1 }, null)</li>
    }
    @for (int i = 1; i <= numPages; i++) { 
        if (i - 1 == pageNumber) { 
            <li class="active">@Html.ActionLink(@i.ToString("#"), "AllSubtitleFiles", "SubtitleFile", new { num = i - 1 }, null)</li>
        }
        else {
        <li>@Html.ActionLink(@i.ToString("#"), "AllSubtitleFiles", "SubtitleFile", new { num = i - 1 }, null)</li>
    }
    }
    @if (pageNumber != numPages - 1) {
        <li>@Html.ActionLink(">>", "AllSubtitleFiles", "SubtitleFile", new { num = pageNumber + 1 }, null)</li>
    }
    </ul>

