@model IEnumerable<Textaland.Models.SubtitleFile>

@{
    ViewBag.Title = "AllSubtitleFiles";
}

<h2>Textaskrár</h2>

<p>
    <a href="/SubtitleFile/UploadFile" class="btn btn-default btn-sm">Hlaða upp nýrri skrá</a>
</p>
<table class="table">
    <tr>
        <th>
            Nafn
        </th>
        <th>
            Einkunn
        </th>
        <th>
           Tungumál
        </th>
        <th>
           Sett inn
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@using (Html.BeginForm("AboutSubtitleFile", "SubtitleFileController", item, FormMethod.Post))
            {
               //<input type="submit" value="@item._name" />  
            }*@
            @Html.ActionLink(item._name, "AboutSubtitleFile", "SubtitleFile", new { id = item.Id }, null)
        </td>
        <td>
            @item._rating.ToString("#.##")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._languageFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._dateAdded)
        </td>
    </tr>

}

</table>
