@model Textaland.Models.SubtitleFileEditView

@{
    ViewBag.Title = "EditSubtitleFile";
}

<div class="jumbotron" style="background: none">
    <center>
        <h1>ÞÝÐA TEXTASKRÁ</h1>
        <hr />
    </center>
</div>

<center>
    <div class="col-md-12" style="background: none">
        <hr />
        <h3>Nafn: @Model.fileName</h3>
        <hr />
        <h3>Þýdd frá: @Model.languageFrom</h3>
        <hr />
        <h3>Þýdd yfir í: @Model.languageTo</h3>
        <hr />
    </div>
</center>

<div class="form-horizontal">
    @for (int i = 0; i < 10; i++) {
        using (Html.BeginForm("EditLine", "SubtitleFile", FormMethod.Post)) {
                <h3>@Model.subtitleLines[i + (10 * ViewBag.pageNum)]._lineNumber</h3>
                <h3>@Model.subtitleLines[i + (10 * ViewBag.pageNum)]._time</h3>
                <input type="number" name="fileId" value=@Model.subtitleLines[i + (10 * ViewBag.pageNum)]._textFileId class="hidden" />
                <input type="number" name="lineId" value="@Model.subtitleLines[i + (10 * ViewBag.pageNum)].Id" class="hidden" /><br />
                <div class="form-group">
                    <h5 class="col-md-4 text-center">@Model.originalLines[i + (10 * ViewBag.pageNum)]._line1</h5>
                    <input type="text" value="@Model.subtitleLines[i + (10 * ViewBag.pageNum)]._line1 " size="30" class="text-center" /><br />
                </div>
                <div class="form-group">
                    <h5 class="col-md-4 text-center">@Model.originalLines[i + (10 * ViewBag.pageNum)]._line2</h5>
                    <input type="text" value="@Model.subtitleLines[i + (10 * ViewBag.pageNum)]._line2 " size="30" class="text-center" /><br />
                </div>
                <div class="form-group">
                    <h5 class="col-md-4 text-center">@Model.originalLines[i + (10 * ViewBag.pageNum)]._line3</h5>
                    <input type="text" value="@Model.subtitleLines[i + (10 * ViewBag.pageNum)]._line3 " size="30" class="text-center" />                    
                    <input type="submit" name="@Model.subtitleLines[i + (10 * ViewBag.pageNum)]._lineNumber" value="Save" class="btn btn-success btn-sm" />   
                </div>
        }
    }

    <ul class="pagination pagination-sm">
        @if (ViewBag.pageNum != 0) {
            <li><a href="/SubtitleFile/ChangePage?id=@Model.fileId&num=@(ViewBag.pageNum)">«</a></li>
        }
        @for (int i = 0; i < ViewBag.numPages; i++) {
            if (i == ViewBag.pageNum) {
                <li class="active">
                    <a href="/SubtitleFile/ChangePage?id=@Model.fileId&num=@i">@i</a>
                </li>
            }
            else {
                <li>
                    <a href="/SubtitleFile/ChangePage?id=@Model.fileId&num=@i">@i</a>
                </li>
            }
        }
        @if (ViewBag.pageNum < ViewBag.numPages) {
            <li><a href="/SubtitleFile/ChangePage?id=@Model.fileId&num=@(ViewBag.pageNum+1)">»</a></li>
        }
    </ul>

    <div class="form-horizontal" style="margin-top: 30px">
        <div class="col-md-4 well" style="background: none">
            <center>
                <a href="/SubtitleFile/CloseFile?id=@Model.fileId" class="btn btn-info">Hættur að þýða</a>
            </center>
        </div>
        <div class="col-md-4 well" style="background: none">
            <center>
                <a href="/SubtitleFile/FinishFile?id=@Model.fileId" class="btn btn-warning">Klára þýðingu</a>
            @Html.ValidationMessage("FinishError")
            </center>
        </div>
        <div class="col-md-4 well" style="background: none">
            <center>
                <a href="/SubtitleFile/DeleteFile?id=@Model.fileId" class="btn btn-danger">Eyða þýðingu</a>
            @Html.ValidationMessage("DeleteError")
            </center>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
