<center>
    <h1>SKRÁR Í ÞÝÐINGU</h1>
    <hr />
</center>

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            Nafn
        </th>
        <th>
            Þýtt frá
        </th>
        <th>
            Þýtt yfir í
        </th>
        <th>
           Tegund
        </th>
        <th>
            Sett inn
        </th>
        <th></th>
    </tr>

    @foreach (Textaland.Models.SubtitleFile item in ViewBag.InTranslation) {
    <tr>
        <td>
            @item._name
        </td>
        <td>
            @item._languageFrom
        </td>
        <td>
            @item._languageTo
        </td>
        <td>
            @item._type
        </td>
        <td>
            @item._dateAdded
        </td>
        <td class="col-md-1" style="text-align: center">
                <a href="/SubtitleFile/EditSubtitleFile?id=@item.Id&num=0"
                   class="btn btn-warning btn-sm">Taka þátt í þýðingu</a>
        </td>
    </tr>
}
</table>

@{

    int count = Enumerable.Count(ViewBag.numInTranslation);
    int numPages;

    if (count % 10 == 0) {
        numPages = count / 10;
    }
    else {
        numPages = count / 10 + 1;
    }
    int pageNumber = Convert.ToInt32(TempData["pageNum"].ToString());
}


<ul class="pagination pagination-sm">
    @if (pageNumber != 0) { 
    <li>@Html.ActionLink("<<", "InTranslationFiles", "SubtitleFile", new { num = pageNumber - 1}, null)</li>
    }
    @for (int i = 1; i <= numPages; i++) {
        if (i - 1 == pageNumber) { 
            <li class="active">@Html.ActionLink(@i.ToString("#"), "InTranslationFiles", "SubtitleFile", new { num = i - 1 }, null)</li>
        }
        else {
           <li>@Html.ActionLink(@i.ToString("#"), "InTranslationFiles", "SubtitleFile", new { num = i - 1 }, null)</li> 
        }
    }
    @if (pageNumber != numPages - 1 && numPages != 0) {
         <li>@Html.ActionLink(">>", "InTranslationFiles", "SubtitleFile", new { num = pageNumber + 1}, null)</li>
    }
</ul>
