@model Textaland.Models.UploadCollection

@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

@using (Html.BeginForm("UploadFile", "SubtitleFile", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FormCollection</h4>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model._name, "Nafn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._name)
                @Html.ValidationMessageFor(model => model._name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._description, "Lýsing", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model._description, new { @cols = "21", @rows = "4" })
                @Html.ValidationMessageFor(model => model._description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._type, "Flokkur", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model._type, new SelectList(ViewBag.ListOfTypes, "Value", "Text", "Selected"))
                @Html.ValidationMessageFor(model => model._type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._language, "Tungumál", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model._language, new SelectList(ViewBag.ListOfLanguages, "Value", "Text", "Selected"))
                @Html.ValidationMessageFor(model => model._language)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model._hardOfHearing, "Fyrir heyrnarskerta", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model._hardOfHearing)
                @Html.ValidationMessageFor(model => model._hardOfHearing)
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="form-group col-md-10">
            <input type="file" name="_file" id="_file" onchange="checkFile(this)" />
        </div>

        <div class="col-md-2"></div>
        <div class="alert alert-dismissable alert-danger hidden col-md-4" id="uploadError">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Please use srt format</strong>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Hlaða upp"  id="upload" class="btn btn-default hidden" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/upload.js")
}